@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto&display=swap');
body{
    margin: 0;
    background-color: #3EA289
}

.navbar{
    background-color: #DAE3E5;
    display: flex;
    margin-top: -30px;
}
.nav-center-vertically{
    margin-top: 50px;
}
.my-title {
    font-size: 35px;
    padding-left: 2rem;
    font-family:"Lobster Two", cursive;
}
.options-text {
    font-family:"Lobster Two", cursive;
    padding-left: 25px;
    font-size:25px;
    margin-top: 8px;
    display: inline-block;
    text-decoration: none;
    color: #3EA289;
}
.redirect-options {
    padding-left: 2%;
}
.selfie-img {
    margin-top: 50px;
    display: block;
    border: #DAE3E5 solid 5px;
    border-radius: 50px;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
}
.info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 60%;
    font-family: "Roboto";
    color:#DAE3E5;
    font-size: 30px;
}
.languages {
    font-family: "Roboto";
    color: #DAE3E5;
    font-size: 40px;
    text-align:center;
}
.lang-img {
    display:flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}
.lang-imgs {
    padding-left: 2rem;
}