@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto&display=swap');
body{
    margin: 0;
    background-color: #3EA289
}
a {
    text-decoration: none;
}
.navbar{
    background-color: #DAE3E5;
    display: flex;
    margin-top: -2.5vh;
    position: fixed; 
    width: 100%;
    left: 0;
    top: 0;
}
.nav-center-vertically{
    margin-top: 50px;
}
.font {
    color: #DAE3E5;
    font-family: "Roboto";
}
.my-title {
    color: #000000;
    font-size: 35px;
    padding-left: 2rem;
    font-family:"Lobster Two", cursive;
}
.options-text {
    font-family:"Lobster Two", cursive;
    padding-left: 25px;
    font-size:25px;
    margin-top: 8px;
    display: inline-block;
    text-decoration: none;
    color: #3EA289;
}
.redirect-options {
    padding-left: 2%;
}
.selfie-img {
    margin-top:150px;
    display: block;
    border: #DAE3E5 solid 5px;
    border-radius: 50px;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
}
.info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 60%;
    font-size: 30px;
}
.languages {
    margin-top: -2rem;
    font-size: 40px;
    text-align:center;
}
.lang-img {
    display:flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}
.lang-imgs {
    padding-left: 2rem;
    image-rendering: auto;
    padding-bottom: 8%;
}
.footer {
    display: flex;
    display:sticky;
    bottom:0px;
    float:bottom;
    height: 100px;
    width: 100%;
    background-color: #135544;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.footer-text {
    padding-left: 15px;
    margin: 0;
}
.project-title {
    font-size: 2.4vw;
    display: inline-block;
    /* padding-left: calc(13vw); */
    width: 60vw;
    text-align: center;
}
.project-img {
    display:inline-block;
    float:right;
    border: #DAE3E5 solid 5px;
    border-radius: 50px;
    margin-right: 3vw;
    max-width: 35vw;
}
div {
    overflow:auto;
}
.project-text {
    display: flex;
    font-size:1.3vw;
    padding-right:1vw;
    padding-left: 2vw;
}
.project-spacing {
    margin-top:3vh;
    margin-bottom: 3vh;
}
hr {
    width:30%
}
#projects-container {
    margin-top: calc(2vw + 100px);
}